.switch {
  @apply h-9
    ring-offset-4
    ring-offset-zinc-950
    ring-indigo-600
    focus:ring-2
    outline-none  
    w-fit
    max-w-full
    flex
    items-center
    justify-center
    font-roboto
    font-medium
    select-none
    text-zinc-200
    bg-zinc-900
    hover:bg-zinc-800
    hover:cursor-pointer
    pl-2
    pr-3
    py-2
    gap-1
    flex-row
    space-x-1
    rounded-2xl
    disabled:opacity-50
    disabled:cursor-not-allowed
    hover:text-zinc-50;

  input {
    @apply hidden;
  }

  svg {
    @apply size-6;
  }

  span {
    @apply w-full
      text-ellipsis
      overflow-hidden
      text-nowrap
      max-w-[calc(100vw_-_4rem)];
  }
}

.switch.default {
  @apply ring-indigo-600;
}

.switch.default.fill {
  @apply bg-indigo-600
  hover:bg-indigo-700;
}

.switch.green {
  @apply ring-green-600;
}

.switch.green.fill {
  @apply bg-green-600
  hover:bg-green-700;
}

.switch.pink {
  @apply ring-pink-600;
}

.switch.pink.fill {
  @apply bg-pink-600
  hover:bg-pink-700;
}

.filter {
  @apply flex
    py-[6px]
    px-[6px]
    -mx-[6px]
    -my-[6px]
    flex-row
    gap-3
    w-full
    flex-nowrap
    cursor-grab
    overflow-auto
    sm:cursor-default
    scrollbar-none;
}

.alternative-filter {
  @apply md:justify-center
    max-w-[424px];
}
