.header {
  @apply flex
    flex-col
    gap-8;

  section {
    @apply flex
      flex-col
      md:flex-row
      w-full
      gap-9
      justify-between;

    > div {
      @apply flex
        flex-row
        gap-3
        first:w-full;
    }
  }

  section#desktop {
    @apply hidden
      md:flex;

    > div:first-of-type {
      @apply md:first:w-[65%];
    }
  }

  section#mobile {
    @apply flex
      md:hidden
      gap-8;

    > div {
      @apply flex
        flex-col
        first:flex-row
        gap-3;

      #header-profile {
        @apply flex
          flex-row
          gap-3
          items-center
          w-full
          justify-end;

        .register-button {
          @apply hidden
            xs:flex;
        }
      }
    }
  }

  .filters {
    @apply flex
      flex-col
      justify-start
      items-start
      lg:flex-row
      lg:justify-between
      w-full
      lg:items-center
      gap-3;

    p {
      @apply font-roboto
        font-light
        text-lg
        md:text-nowrap;

      a {
        @apply underline
          underline-offset-2
          outline-none
          hover:underline-offset-4
          focus:underline-offset-4
          focus:text-indigo-500;
      }
    }
  }
}
