.input {
  @apply relative
    flex
    flex-col
    gap-2
    w-full
    font-roboto
    font-normal
    text-base
    text-nowrap
    max-w-[35rem];

  :has(input:disabled) {
    @apply opacity-50
      cursor-not-allowed;
  }

  div {
    @apply bg-zinc-900
      px-3
      py-1
      flex
      gap-2
      rounded-2xl
      h-12
      w-full
      items-center
      ring-offset-4
      ring-indigo-600
      ring-offset-zinc-950
      focus-within:text-indigo-600
      focus-within:ring-2
      focus:text-indigo-600
      focus:ring-2
      outline-none;
  }

  svg {
    @apply size-7;
  }

  div:has(textarea) {
    @apply p-0 
      h-full;

    svg {
      @apply absolute
        left-[0.625rem]
        top-2;
    }
  }

  input,
  textarea {
    @apply w-full
      leading-4
      bg-transparent
      outline-none
      placeholder:uppercase
      placeholder:text-zinc-500
      group-focus:text-inherit;
  }

  textarea {
    @apply px-3
      py-[0.625rem]
      indent-8
      min-h-32
      leading-6
      overflow-hidden
      resize-none;
  }

  p {
    @apply text-red-500
      text-base
      w-full
      text-wrap
      px-2;
  }

  div:has(input[type="file"]) {
    @apply h-10 
      w-fit 
      pr-4
      gap-1
      hover:cursor-pointer
      hover:bg-zinc-800;

    svg {
      @apply size-6;
    }

    p {
      @apply text-inherit
        uppercase
        font-medium;
    }
  }

  input[type="file"] {
    @apply file:hidden w-0;
  }
}

.error {
  div {
    @apply ring-red-500
      focus-within:text-red-500;
  }
}

.file-inputs {
  @apply flex
    flex-row
    gap-2;

  button.input {
    @apply bg-zinc-900
      size-10
      min-w-10
      max-w-10
      hover:cursor-pointer
      flex
      rounded-2xl
      items-center
      justify-center
      ring-offset-0
      ring-indigo-600
      ring-offset-zinc-950
      focus-within:text-indigo-600
      focus-within:ring-2
      focus:text-indigo-600
      focus:ring-2
      outline-none
      hover:bg-zinc-800;
  }

  label.input {
    @apply max-w-[calc(100vw_-_8rem)];

    > div {
      @apply w-full;
    }

    p {
      @apply text-nowrap
        overflow-hidden
        text-ellipsis
        w-full;
    }
  }
}

.banner {
  @apply relative
    w-full
    max-h-[175px]
    h-[175px]
    border-zinc-200
    text-zinc-200
    border-[3px]
    rounded-2xl
    flex
    justify-center
    items-center
    hover:cursor-pointer
    hover:border-indigo-600
    hover:text-indigo-600
    ring-offset-4
    ring-indigo-600
    ring-offset-zinc-950
    focus-within:ring-2
    focus:text-indigo-600
    focus:ring-2
    outline-none
    overflow-clip;

  span {
    @apply flex
      items-center
      justify-center
      text-center
      gap-3
      font-roboto
      text-base
      uppercase;

    svg {
      @apply size-8;
    }
  }

  > input[type="file"] {
    @apply file:hidden w-0;
  }

  img {
    @apply object-cover
      rounded-2xl;

    height: 175px !important;
    width: 100% !important;
  }

  .file-inputs {
    @apply absolute
      flex-row-reverse
      right-2
      bottom-2;

    div {
      @apply ring-offset-0;
    }
  }
}

.banner:has(.file-inputs) {
  @apply border-none
    bg-zinc-800
    h-min
    hover:text-inherit;
}

.file-input {
  width: min-content !important;

  div {
    gap: 0 !important;
  }

  p {
    padding-right: 0 !important;
  }
}

.banner.error {
  @apply ring-red-500
    focus-within:text-red-500
    hover:text-red-500
    hover:border-red-500;
}

p.error {
  @apply text-red-500
    text-base
    w-full
    text-wrap
    px-2
    -mt-1;
}
