.selector {
  @apply relative flex;

  button {
    border-radius: 1rem !important;
  }

  .options {
    @apply hidden;
  }
}

.selector:focus-within {
  .options {
    @apply flex
      absolute
      top-16
      flex-col
      text-nowrap
      bg-zinc-900
      border-2
      border-zinc-800
      rounded-2xl
      py-2
      overflow-y-scroll
      overflow-clip
      max-h-[80vh]
      max-w-[90vw];

    width: 300px !important;

    div {
      @apply flex;
      max-width: none !important;
      overflow: hidden auto !important;
      width: 100% !important;
    }

    span {
      @apply min-h-9
        text-left
        place-content-center
        px-6
        hover:bg-zinc-800
        hover:cursor-pointer;
    }
  }
}
