.selector {
  @apply relative flex;

  button {
    border-radius: 1rem !important;

    span {
      @apply block
        overflow-hidden
        text-nowrap
        text-ellipsis;
    }
  }

  .options {
    @apply flex
      z-20
      ring-offset-4
    ring-offset-zinc-950
    ring-indigo-600
      focus:ring-2
      outline-none
      absolute
      top-[3.75rem]
      flex-col
      text-nowrap
      bg-zinc-900
      border-2
      border-zinc-800
      rounded-2xl
      py-2
      overflow-y-hidden
      overflow-clip
      max-w-[calc(100vw_-_4rem)]
      -ml-[100vw];

    width: 400px !important;

    div {
      @apply flex
        flex-col
        relative
        w-full
        scrollbar-thin
      scrollbar-corner-zinc-950
      scrollbar-track-zinc-950
      scrollbar-thumb-indigo-600
        firefox:scrollbar
      firefox:scrollbar-thumb-indigo-600;

      max-width: none !important;
      overflow: hidden auto !important;
      width: 100% !important;
    }

    span {
      @apply min-h-9
        block
        overflow-hidden
        text-nowrap
        text-ellipsis
        text-left
        place-content-center
        px-6
        hover:bg-zinc-800
        hover:cursor-pointer
        outline-none
        focus:ring-2
        focus:pl-8
        focus:ring-zinc-200
        focus:z-10;
    }

    .selected {
      @apply bg-indigo-700;
    }
  }

  .below {
    @apply bottom-[3.75rem]
      top-auto;
  }
}

.selector:focus-within {
  .options {
    @apply ml-0;
  }
}
