.item-page-header {
  section > div {
    @apply flex
      flex-row
      gap-3
      items-center;
  }

  section#desktop {
    @apply hidden
      md:flex
      justify-between;

    > div:first-of-type {
      @apply md:first:w-[65%];
    }
  }

  section#mobile {
    @apply flex
      flex-row
      md:hidden
      justify-between
      gap-3
      sm:gap-8;

    .register-button {
      @apply hidden;
    }
  }

  .login {
    @apply flex
      gap-3
      items-center;
  }
}

.item-page {
  @apply flex
    w-full;

  hr {
    @apply border
      border-b-0
      border-zinc-800;
  }

  section {
    @apply flex
      w-full
      gap-4;
  }

  .info {
    @apply flex
      flex-col
      lg:flex-row
      flex-nowrap
      gap-8;

    img {
      @apply rounded-2xl
        max-w-full
        md:max-w-[50%];
    }

    article {
      @apply flex
        flex-col
        gap-2
        md:gap-4
        w-full;

      h1 {
        @apply font-roboto
          font-semibold
          text-xl
          md:text-2xl
          lg:text-3xl
          text-wrap
          break-all
          uppercase;
      }

      h2 {
        @apply text-white
        font-normal
        text-wrap
        text-base
        md:text-xl;
      }

      hr {
        @apply border
          border-b-0
          border-zinc-200;
      }
    }

    .type {
      @apply font-roboto
        text-sm
        md:text-base
        text-zinc-50
        w-fit
        px-3
        py-1
        md:px-4
        md:py-1
        rounded-full
        font-medium;
    }
  }

  .location {
    @apply grid
    lg:px-10
    justify-center
    items-center
    grid-cols-1
    sm:grid-cols-2
    md:grid-cols-3
    gap-4
    sm:gap-y-5
    sm:gap-x-6
    md:gap-x-12
    md:gap-y-10;
  }

  .user {
    @apply flex
      lg:px-10
      flex-col
      md:flex-row
      gap-8
      lg:gap-16;

    #avatar {
      @apply max-w-12
        md:max-w-24
        lg:max-w-40;
    }

    > div:first-of-type {
      @apply flex
        flex-row
        gap-4
        md:gap-8;

      div {
        @apply flex md:hidden;
      }
    }

    > div:last-of-type {
      @apply grid
        grid-cols-1
        md:grid-cols-2
        gap-x-4
        lg:gap-x-12
        gap-y-6
        overflow-hidden;

      > div:first-of-type {
        @apply hidden md:flex;
      }

      .label#stats {
        @apply hidden
          lg:flex;
      }
    }
  }

  article.lost {
    .icon {
      @apply bg-pink-600;
    }

    h1 {
      @apply text-pink-600;
    }

    .type {
      @apply bg-pink-600;
    }
  }

  article.find {
    .icon {
      @apply bg-indigo-500;
    }

    h1 {
      @apply text-indigo-500;
    }

    .type {
      @apply bg-indigo-500;
    }
  }

  article.donation {
    .icon {
      @apply bg-green-600;
    }

    h1 {
      @apply text-green-600;
    }

    .type {
      @apply bg-green-600;
    }
  }
}

body:has(.item-page) {
  @apply gap-0;

  header {
    @apply mb-8;
  }
}
