.button {
  @apply h-12
    flex
    rounded-2xl
    py-4
    ring-offset-4
    ring-offset-zinc-950
    ring-indigo-600
    text-zinc-50
    hover:text-indigo-600
    font-roboto
    font-medium
    text-base
    leading-4
    outline-none
    min-w-12
    w-fit
    bg-zinc-900
    focus:ring-2
    justify-center
    items-center
    disabled:opacity-50
    disabled:cursor-not-allowed
    relative
    text-nowrap;

  svg {
    @apply size-7
      absolute
      left-[0.625rem]
      right-auto
      top-[0.625rem];
  }

  > span {
    @apply pl-3
      pr-6
      flex
      flex-row
      items-center;
  }
}

.button.icon {
  @apply pl-[2.375rem]
    rounded-[2rem];
}

.button:not(.icon) {
  @apply pl-3;
}

.button.right {
  svg {
    @apply right-[0.625rem]
      left-auto;
  }

  > span {
    @apply pl-6
      pr-3;
  }
}

.button.right.icon {
  @apply pr-[2.375rem]
    pl-0
    rounded-[2rem];
}

.button.right:not(.icon) {
  @apply pr-3
    pl-0;
}

.button.red {
  @apply hover:text-red-600
    ring-red-600;
}

.button.default-fill {
  @apply hover:text-zinc-50
    bg-indigo-600
    ring-indigo-600
    hover:bg-indigo-700;
}

.button.pink-fill {
  @apply hover:text-zinc-50
    bg-pink-600
    ring-pink-600
    hover:bg-pink-700;
}

.button.green-fill {
  @apply hover:text-zinc-50
    bg-green-600
    ring-green-600
    hover:bg-green-700;
}
